.pimg3{
    position: relative;
    opacity: 0.70;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.pimg3{
    background-image: url('space.jpg');
    min-height: 400px;
}
.section{
    text-align: center;
    padding: 50px 80px;
}
.section-dark{
    background-color: black;
    color: white;
}
.ptext{
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 27px;
    letter-spacing: 8px;
    text-transform: uppercase;

}
.section-purple{
    background-color: rgb(180, 22, 229);
        color: white;

}